body{
    margin: 0;
    background-color: rgb(194, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
}
/*Header begin*/
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 60px;
    justify-content: space-between;
    color: white;
}
.navbar{
    display: flex;
}
.logodiv, .logodiv img{
    width: 160px;
    height: 60px;
}
.navbuttons{
    display: flex;
    justify-self: center;
    align-self: center;
}
.navbuttons div{
    padding: 0 5px 0 5px;
    display: flex;
    align-self: center;
    align-items: center;
    height: 60px;
}
.navbarmenu{
    height: 60px;
    display: flex;
    align-self: center;
    align-items: center;
}
.navbarmenu{
    display: flex;
    justify-content: space-around;
}
.country{
    display: flex;
    flex-direction: column;
}
.country img{
    width: 40px;
    margin: 2px 5px 2px 0px;
}
/* .navlogo, .navlogo img{
    width: 160px;
    height: 60px;
    margin-left: 5px;
}
.navbar1{
    display: flex;
} */
/* .navcat{
    display: flex;
    height: 60px;
    justify-self: center;
    align-self: center;
}
.navmenu{
    display: flex;
    justify-self: right;
    justify-content: right;
    justify-items: right;
}
.navcat div{
    background-color: aqua;
    height: 60px;
    display: flex;
    align-self: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
} */
