@media (min-width: 1920px){
    header{
        padding: 0 277px 0 277px;
        background-color: red;
    }
    .container{
        padding: 0 277px 0 277px;
    }
}
@media (max-width: 970px){
    .buttons{
        display: none;
    }
    .buttons div{
        display: none;
    }
    .menu{
        display: none;
    }
    .menuwrap{
        display: block;
    }
}
@media (min-width: 971px){
    .menuwrap{
        display: none;
    }
}
@media (max-width: 560px){
    .news img{
        width: 100% !important;
    }
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
.logo{
    display: flex;
    height: 40px;
    padding-right: 15px;
}
.logo img{
    width: 160px;
    height: 40px;
}
.buttons{
    display: flex;
    height: 40px;
}
.buttons div{
    padding: 0 10px 0 15px;
    font-size: 24px;
    align-self: center;
}
.menu{
    height: 40px;
}
.menuwrap img{
    width: 40px;
    height: 40px;
}
.menu img{
    width: 40px;
    height: 40px;
    padding-left: 15px;
}
.menuwrap{
    width: 40px;
    height: 40px;
}
.menuDiv{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    position: absolute;
    right: 0;
    display: none;
    opacity: 1;
    transition: 0.6s ease;
}
header{
    height: 40px;
    background-color: rgb(212, 212, 212);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.aDisable{
    color: black;
    text-decoration: none;
}
.catalog{
    display: none;
    opacity: 1;
    transition: 0.6s ease;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: aqua;
    justify-content: space-around;
}
.catalog div div{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    margin-top: 20px;
    background-color: rgb(221, 221, 221);
    display: flex;
    font-size: 25px;
    justify-content: space-around;
}
footer div img{
    width: 58px;
    height: 58px;
}
footer div:nth-child(1){
    display: flex;
}
.news{
    width: 100%;
    background-color: antiquewhite;
}
.newsHead{
    background-color: bisque;
    width: 100%;
    height: 50px;
    display: flex;
    justify-self: left;
    justify-content: space-between;
}
.newsHead span{
    align-self: center;
}
.newsHead span:nth-child(1){
    font-size: 30px;
}
.newsHead span:nth-child(2){
    font-size: 20px;
}
.news img{
    display: flex;
    float: left;
    width: 400px;
    height: 200px;
    margin: 0 20px 20px 0;
}
.textBlock{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: rgb(211, 211, 211);
}
.textBlock span{
    align-self: center;
    font-size: 30px;
}
.items{
    margin-top: 20px;
    width: 100%;
    background-color: rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.item{
    margin: 4px 4px 4px 4px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 370px;
    background-color: rgb(223, 223, 223);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.buyButton{
    width: 120px;
    height: 20px;
    background-color: rgb(163, 163, 163);
    display: flex;
    align-self: center;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.buyButton span{
    width: 100%;
}
.itemImg img{
    display: flex;
    width: 260px;
    height: 250px;
    border-radius: 20px;
}
.itemPrice{
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.itemPrice span:nth-child(1){
    align-self: center;
    font-size: 23px;
    font-weight: 900;
    padding: 8px;
    background-color: rgb(16, 196, 76);
    color: white;
    border-radius: 15px;
}
.itemPrice span:nth-child(2){
    align-self: center;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px;
    color: rgb(112, 127, 141);
}
.itemName{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 38px;
}
.itemName span{
    font-weight:bold;
    width: 200px;
}
.categoryDivs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.categoryDivs div img{
    width: 260px;
    height: 260px;
}
.categoryDivs div{
    margin: 4px 4px 4px 4px;
}
.itemPageItem{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.itemPageName{
    width: 100%;
    padding: 5px 0px 5px 0px;
    background-color: red;
    display: flex;
}
.itemPageName span{
    font-size: 25px;
    align-self: center;
}
.itemPageImg{
    width: 400px;
    height: 400px;
}
.itemPageImg img{
    width: 400px;
    height: 400px;
}
.itemPageDesc{
    display: flex;
    width: 100%;
}
.itemPagePrice span:nth-child(1){
    align-self: center;
    font-size: 23px;
    font-weight: 900;
    padding: 8px;
    background-color: rgb(16, 196, 76);
    color: white;
    border-radius: 15px;
}
.itemPagePrice span:nth-child(2){
    align-self: center;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px;
    color: rgb(112, 127, 141);
}
.priceBeforeLine{
    background-color: red;
    width: 100%;
    height: 1px;
    position: relative;
    top: 10px;
    transform: rotate(5deg);
}
.itemPageInfo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.itemPagePrice{
    display: flex;
    width: 400px;
    justify-content: center;
}
.addToCart{
    display: flex;
    align-self: center;
    font-weight: 900;
    padding: 8px;
    background-color: rgb(16, 196, 76);
    color: white;
    border-radius: 15px;
}
.addToCart span{
    font-size: 23px;
}
.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.userForm form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.userForm label{
    margin-top: 10px;
}
.userForm input{
    font-size: 20px;
    height: 30px;
    border: unset;
    border-bottom: 2px solid grey;
    outline: none;
}
.userForm span{
    margin-top: 20px;
    text-align: center;
}
.userForm button{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
    width: 70%;
}
.formMsg{
    padding: 5px;
    border: 4px solid rgb(221, 221, 110);
    font-weight: bold !important;
    font-size: 26px !important;
}
.userGUI{
    display: flex;
}
.userphoto{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.userphoto img{
    width: 400px;
    height: 500px;
}
.userInfo{
    font-size: 25px;
    margin-left: 50px;
}
.userInfo div{
    margin-top: 20px;
}
.userInfoExit{
    padding: 5px;
    background-color: antiquewhite;
    text-align: center;
}
.userInfoExit a{
    color: rgb(156, 74, 49) !important;
}
.cartItems{
}
.cartItem{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: rgb(158, 158, 158);
    display: flex;
}
.cartItemImg{
    height: 200px;
    width: 350px;
    display: flex;
}
.cartItemImg img{
    height: 200px;
    width: 350px;
}
.cartItemMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.cartTextBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: rgb(211, 211, 211);
}
.cartTextBlockRight{
    display: flex;
}
.deleteFromCart{
    height: 40px;
    width: 40px;
}
.deleteFromCart img{
    width: 40px;
    height: 40px;
}
.cartTextBlock span{
    align-self: center;
    font-size: 25px;
}
.cartItemDescription{
}
.cartItemDescription span{
    font-size: 20px;
}
.cartItemManage{
    display: flex;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: rgb(110, 110, 110);
}
.CartItemQty{
    display: flex;
}
.CartItemQty span{
    align-self: center;
    font-size: 25px;
}
.CartItemPrice{
    display: flex;
    margin-right: 10px;
}
.CartItemPrice span{
    align-self: center;
    font-size: 25px;
}
.CartItemPrice_before{
    display: flex;
    margin-right: 10px;
}
.prcbfr_1{
    align-self: center;
    font-size: 25px;
}
.prcbfr_2{
    align-self: center;
    position: relative;
    font-size: 25px;
}
.prcbfr_2 div{
    position: absolute;
    top: 13px;
    transform: rotate(10deg);
    width: 100%;
    height: 2px;
    background-color: red;
}
.CartItemButtonMinus{
    display: flex;
    width: 40px;
    height: 40px;
}
.CartItemButtonPlus{
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.cartTotal{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: rgb(211, 211, 211);
}
.cartTotalInfo{
    display: flex;
}
.cartTotalInfo span:nth-child(1){
    font-size: 25px;
    align-self: center;
    margin-right: 10px;
}
.cartTotalInfo span:nth-child(2){
    font-size: 25px;
    align-self: center;
}
.cartTotalOrder{
    display: flex;
    height: 40px;
}
.cartTotalOrder span{
    align-self: center;
    font-size: 25px;
}
.messageBlock{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.messageBlock span{
    align-self: center;
    font-size: 25px;
    background-color: rgb(241, 241, 161);
    padding: 5px;
    border: 1px solid black;
}
.PurchaseHistory{
    width: 100%;
    background-color: rgb(216, 216, 216);
}
.PurchaseHistoryNav{
    width: 100%;
}
.profileTextBlock{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: rgb(211, 211, 211);
}
.profileTextBlock span{
    align-self: center;
    font-size: 25px;
}
.orderInProcessHeader{
    width: 100%;
    /* height: 40px; */
    flex-wrap: wrap;
    background-color: blue;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.orderInProcessBody{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.orderInProcessHeader span{
    font-size: 25px;
    align-self: center;
}
.orderInProcessBody{
    display: flex;
}
.orderInProcessBody span{
    font-size: 20px;
}
.cancelOrder{
    width: 40px;
    height: 40px;
}
.forHeader{
    height: 40px;
    display: flex;
}
