@media (min-width: 1920px){
    header{
        padding: 0 277px 0 277px;
    }
    .container{
        padding: 0 277px 0 277px;
    }
}
@media (max-width: 970px){
    .buttons{
        display: none;
    }
    .buttons div{
        display: none;
    }
    .menu{
        display: none;
    }
    .menuwrap{
        display: block;
    }
    .mainHello{
        height: 300px !important;
        background-size: 100% 300px !important;
    }
}
@media (min-width: 971px){
    .menuwrap{
        display: none;
    }
}
@media (max-width: 890px){
    .userGUI{
        justify-content: center !important;
    }
}
@media (min-width: 561px){
    .userphoto{
        width: 50%;
    }
    .userphoto{
        width: 400px !important;
    }
}
@media (max-width: 560px){
    .news img{
        width: 100% !important;
    }
    .userphoto{
        width: 100%;
    }
    .userForm{
        width: 100%;
    }
}
a{
    text-decoration: none;
    color: unset;
}
html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
    font-family: sans-serif;
}
.logo{
    display: flex;
    height: 40px;
    padding-right: 15px;
}
.logo img{
    width: 160px;
    height: 40px;
}
.buttons{
    display: flex;
    height: 40px;
}
.buttons div{
    padding: 0 10px 0 15px;
    font-size: 24px;
    align-self: center;
    cursor: pointer;
}
.menu{
    height: 40px;
}
.menuwrap img{
    width: 40px;
    height: 40px;
}
.menu img{
    width: 40px;
    height: 40px;
    padding-left: 15px;
}
.menuwrap{
    width: 40px;
    height: 40px;
}
.menuDiv{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    position: absolute;
    right: 0;
    display: none;
    opacity: 1;
    transition: 0.6s ease;
}
header{
    height: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.aDisable{
    color: black;
    text-decoration: none;
}
.catalog{
    display: none;
    opacity: 1;
    transition: 0.6s ease;
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100%;
    background-color: aqua;
}
.catalogButtons{
    display: flex;
    width: 100%;
    justify-content: center;
}
.catalogButtons div{
    display: flex;
    font-size: 20px;
    padding: 10px;
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.textcenter{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    margin-top: 20px;
    background-color: #08873f;
    display: flex;
    font-size: 25px;
    width: 100%;
    margin-bottom: 0;
    flex: 0 0 auto;
    flex-direction: column;
}
.footerMain{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footerMain div:nth-child(2) div{
    height: 100%;
    display: flex;
}
.footerMain div:nth-child(2) div span{
    display: flex;
    align-self: center;
}
.footerMain div:nth-child(2) div span a{
    margin: 0 5px 0 5px;
}
.footerReg{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.footerReg div span{
    font-size: 25px;
    font-weight: bold;
}
footer div img{
    width: 58px;
    height: 58px;
    margin: 5px 5px 5px 5px;
}
.news{
    width: 100%;
    background-color: #35b451;
}
.newsHead{
    background-color: #35b451;
    width: 100%;
    height: 50px;
    display: flex;
    justify-self: left;
    justify-content: space-between;
}
.newsHead span{
    align-self: center;
    color: white;
}
.newsHead span:nth-child(1){
    font-size: 30px;
}
.newsHead span:nth-child(2){
    font-size: 20px;
}
.newsBody{
    font-size: 18px;
    color: white;
}
.news img{
    display: flex;
    float: left;
    width: 400px;
    height: 200px;
    margin: 0 20px 0 0;
}
.textBlock{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.textBlock span{
    align-self: center;
    font-size: 30px;
    color: #1F6157;
}
.items{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.item{
    margin: 4px 4px 4px 4px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 370px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.buyButton{
    width: 120px;
    height: 20px;
    background-color: rgb(163, 163, 163);
    display: flex;
    align-self: center;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.buyButton span{
    width: 100%;
}
.itemImg img{
    display: flex;
    width: 260px;
    height: 250px;
    border-radius: 20px;
}
.itemPrice{
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.itemPrice span:nth-child(1){
    align-self: center;
    font-size: 23px;
    font-weight: 900;
    padding: 8px;
    background-color: rgb(16, 196, 76);
    color: white;
    border-radius: 15px;
}
.itemPrice span:nth-child(2){
    align-self: center;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px;
    color: rgb(112, 127, 141);
}
.itemName{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 38px;
}
.itemName span{
    font-weight:bold;
    width: 200px;
}
.categoryDivs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.categoryDivs div img{
    width: 260px;
    height: 260px;
}
.categoryDivs div{
    margin: 4px 4px 4px 4px;
}
.itemPageItem{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.itemPageName{
    width: 100%;
    padding: 5px 0px 5px 0px;
    background-color: rgb(16, 196, 76);
    display: flex;
}
.itemPageName span{
    font-size: 25px;
    align-self: center;
    color: white;
    font-weight: bold;
}
.itemPageImg{
    width: 400px;
    height: 400px;
}
.itemPageImg img{
    width: 400px;
    height: 400px;
}
.itemPageDesc{
    display: flex;
    width: 100%;
}
.itemPagePrice span:nth-child(1){
    align-self: center;
    font-size: 23px;
    font-weight: 900;
    padding: 8px;
    background-color: rgb(16, 196, 76);
    color: white;
    border-radius: 15px;
}
.itemPagePrice span:nth-child(2){
    align-self: center;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px;
    color: rgb(112, 127, 141);
}
.priceBeforeLine{
    background-color: red;
    width: 100%;
    height: 1px;
    position: relative;
    top: 10px;
    transform: rotate(5deg);
}
.itemPageInfo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.itemPagePrice{
    display: flex;
    width: 400px;
    justify-content: center;
}
.addToCart{
    display: flex;
    align-self: center;
    font-weight: 900;
    padding: 8px;
    background-color: rgb(16, 196, 76);
    color: white;
    border-radius: 15px;
    font-size: 23px;
    border: unset;
    outline: none;
    cursor: pointer;
}
.addToCartDiv{

}
.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.userForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userForm label{
    margin-top: 10px;
}
.userForm input{
    font-size: 20px;
    height: 30px;
    border: unset;
    border-bottom: 2px solid grey;
    outline: none;
}
.userForm span{
    margin-top: 20px;
    text-align: center;
}
.userForm button{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
    width: 100%;
}
.formMsg{
    padding: 5px;
    border: 4px solid rgb(221, 221, 110);
    font-weight: bold !important;
    font-size: 26px !important;
    text-align: center;
}
.displayNone{
    display: none;
}
.flexCenter{
    display: flex;
    width: 100%;
    justify-content: center;
}
.loadGif{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.importantToSee{
    color: rgb(82, 82, 180);
}
.userGUI{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.userphoto{
    display: flex;
    flex-direction: column;
}
.userphoto img{
    width: 100%;
    height: 500px;
}
.userInfo{
    font-size: 25px;
    width: 400px;
}
.userInfo div{
    margin-top: 20px;
}
.userinfo div span{
    display: flex;
    flex-wrap: wrap;
}
.userInfoExit{
    padding: 5px;
    background-color: #35b451;
    text-align: center;
}
.userInfoExit a{
    color: white !important;
}
.cartItems{
    display: flex;
    flex-direction: column;
}
.cartItem{
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
}
.cartItemHeadInfo{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.cartItemImg{
    height: 200px;
    width: 300px;
    display: flex;
}
.cartItemImg img{
    height: 200px;
    width: 300px;
}
.cartItemMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.cartTextBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #35b451;
}
.cartTextBlockRight{
    display: flex;
}
.deleteFromCart{
    height: 40px;
    width: 40px;
}
.deleteFromCart img{
    width: 40px;
    height: 40px;
}
.cartTextBlock span{
    align-self: center;
    font-size: 25px;
    color: white;
}
.cartItemDescription{
    /* overflow: hidden; */
}
.cartItemDescription span{
    font-size: 20px;
    /* overflow: hidden; */
}
.cartItemManage{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 100%;
    background-color: #2a773b;
}
.cartItemManage span{
    color: white;
}
.CartItemQty{
    display: flex;
}
.CartItemQty span{
    align-self: center;
    font-size: 25px;
}
.CartItemPrice{
    display: flex;
    margin-right: 10px;
}
.CartItemPrice span{
    align-self: center;
    font-size: 25px;
}
.CartItemPrice_before{
    display: flex;
    margin-right: 10px;
}
.prcbfr_1{
    align-self: center;
    font-size: 25px;
}
.prcbfr_2{
    align-self: center;
    position: relative;
    font-size: 25px;
}
.prcbfr_2 div{
    position: absolute;
    top: 13px;
    transform: rotate(10deg);
    width: 100%;
    height: 2px;
    background-color: red;
}
.CartItemButtonMinus{
    display: flex;
    width: 40px;
    height: 40px;
}
.CartItemButtonPlus{
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.cartTotal{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2a773b;
}
.cartTotalInfo{
    display: flex;
    flex-wrap: wrap;
}
.cartTotalInfo span:nth-child(1){
    font-size: 25px;
    align-self: center;
    margin-right: 10px;
    color: white;
}
.cartTotalInfo span:nth-child(2){
    font-size: 25px;
    align-self: center;
    color: white;
}
.cartTotalOrder{
    display: flex;
    height: 40px;
}
.cartTotalOrder span{
    align-self: center;
    font-size: 25px;
    color: white;
}
.messageBlock{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.messageBlock span{
    align-self: center;
    font-size: 25px;
    background-color: rgb(241, 241, 161);
    padding: 5px;
    border: 1px solid black;
}
.PurchaseHistory{
    width: 100%;
}
.PurchaseHistoryNav{
    width: 100%;
}
.profileTextBlock{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #35b451;
}
.profileTextBlock span{
    align-self: center;
    font-size: 25px;
    color: white;
}
.orderInProcessHeader{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: #2a773b;
    margin-bottom: 10px;
    justify-content: space-between;
}
.orderInProcessBody{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.orderInProcessHeader span{
    font-size: 25px;
    align-self: center;
    color: white;
}
.orderInProcessBody{
    display: flex;
}
.orderInProcessBody span{
    font-size: 20px;
}
.cancelOrder{
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}
.forHeader{
    height: 40px;
    display: flex;
}
.pageSelect{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pageSelect div img{
    width: 40px;
    height: 40px;
}
.pageSelect div span{
    font-size: 40px;
}
.aboutSector{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #35b451;
    padding: 20px 0 0 0;
}
.aboutSectorHead{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutSectorHead span{
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.aboutSectorBody{
    display: flex;
    justify-content: center;
}
.aboutSectorBody div{
    display: flex;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.aboutSectorBody div span{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.aboutSectorImgCenter{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
}
.aboutSectorImgCenter img{
    width: 100%;
}
.categoryText{
    display: flex;
    height: 30px;
    justify-content: center;
    background-color: #35b451;
}
.categoryText span{
    display: flex;
    align-self: center;
    color: white;
    font-size: 20px;
}
.mainHello{
    width: 100%;
    height: 800px;
    background-image: url("../IMG/img1.jpg");
    background-size: 100% 800px;
    display: flex;
    justify-content: center;
}
.mainHello div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mainHello div span{
    display: flex;
    flex-wrap: nowrap;
    word-wrap: unset;
    overflow-wrap: unset;
    align-self: center;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
}
.mainHello div span:nth-child(1){
    color: #08873f;
    font-size: 60px;
}
.whatPanels{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.whatPanelsPanel{
    display: flex;
    width: 300px;
    background-color: #2a773b;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}
.whatPanelsPanel div{
    display: flex;
    justify-content: center;
}
.whatPanelsPanel div:nth-child(1) span{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.whatPanelsPanel div:nth-child(2) span{
    font-size: 20px;
    text-align: center;
    color: white;
}
.greenLine{
    width: 100%;
    height: 20px;
    background-color: #1F6157;
    margin: 30px 0 30px 0;
}
.colorTextGreen{
    color: #08873f;
    font-size: 25px;
}
.contactsSectorBody{
    font-weight: 700;
    font-size: 20px;
    line-height: 2;
}
.contactsSectorInfo{
    color: #555;
    padding: 10px 0 10px 0;
}
.colorTextBlackGreen{
    color: #045f20;
    margin-left: 20px;
}
.textAlign{
    text-align: center;
}
.aboutImg{
    display: flex;
    justify-content: center;
}
.aboutImg img{
    display: flex;
    align-self: center;
    width: 100%;
    height: auto;
}
.additionalSpace{
    margin: 20px 0 20px 0;
}
.textHeight20{
    font-size: 20px;
}