body{
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    height: 50px;
    width: 100%;
    background-color: red;
}
.logo{
    width: 100px;
    height: 50px;
    float: left;
}
.but{
    width: 50px;
    height: 50px;
    background-color: royalblue;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li{
    margin-left: 20px;
    font-family: sans-serif;
}
.but{
    display: flex;
}
.but div{
    width: 100%;
    height: 4px;
    background-color: springgreen;
    margin: 6px auto;
}