body{
    margin: 0px;
    background-color: antiquewhite;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 40px 0px 40px
}
#logodiv{

}
#navdiv ul li{
    display: flex;
    display: inline;
    margin: 0px 10px 0px 10px;
}
#cartdiv ul li{
    display: flex;
    display: inline;
    margin: 0px 10px 0px 10px;
}
#main{
    margin-top: 20px;
    padding: 0px;
}
#main div{
    display: flex;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 12.5%;
    height: 160px;
    background-color: #cecec0;
}
#main1{
    border-radius: 0px 100% 0px 0px;

}
#main2{
    border-radius: 100% 0px 0px 0px;
}
#mainboth{
    width: 100%;
    height: 500px;
    background-color: #cecec0;
    clear: both;
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
}
#mainimg1{
    position: absolute;
    left: 0px;
    top: 390px;
}
#mainimg2{
    position: absolute;
    right: 0px;
    top: 190px;
}
#mainsp1{
    color: rgb(0, 43, 99);
    font-size: 70px;
    font-weight: 900;
}
#mainsp2{
    color: rgb(0, 110, 255);
    font-size: 70px;
    font-weight: 900;
}
#mainsp3{
    font-size: 20px;
    font-weight: 200;
}
#mainbtn{
    margin: 40px auto;
    width: 180px;
    padding: 15px;
    background-color: rgb(255, 72, 0);
    color: white;
    border-radius: 20px;
}
#container{
    background-color: white;
}
#info{
    display: flex;
    width: 100%;
    justify-content: center;
}
#infodiv{
    margin: 40px;
    width: 40%;
    padding: 40px;
    font-family: sans-serif;
}
#infospan1{
    font-size: 65px;
    font-weight: 800;
}
#infospan2{
    font-size: 40px;
}
#infoimg{
    width: 100%;
}
#infocat{
    display: flex;
    width: 100%;
    justify-content: center;
}
#infocat div{
    width: 420px;
    height: 420px;
    padding: 20px;
    border-radius: 50px;
    margin: 40px;
}
#infocat img{
    height: 280px;
    display: block;
    margin: 0px auto;
}
#infocatin1{
    font-size: 40px;
    font-weight: 600;
}
#infocatin2{
    font-size: 20px;
}
#inf1{
    background-color: rgb(188, 162, 212);
}
#inf2{
    background-color: rgb(162, 209, 212);
}
#inf3{
    background-color: rgb(211, 212, 162);
}
#bibg{
    width: 100%;
}
#bibgtext{
    text-align: center;
    padding: 200px 0px 80px 0px;
    border-radius: 100px 100px 100px 100px;
    width: 100%;
    background-color: rgb(231, 231, 231);

}
#bibtext1{
    color: rgb(0, 43, 99);
    font-size: 70px;
    font-weight: 900;
}
#bibtext2{
    font-size: 20px;
    font-weight: 200;
}
#bibgdivs{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px 80px 0px;
    font-size: 30px;
    font-weight: 700;
}
#bibgdivs div{
    width: 380px;
    height: 280px;
    margin: 0px 10px 0px 10px;
}
#bibgdivs div img{
    width: 380px;
    height: 280px;
}
#leftup{
    position: relative;
    left: -100px;
    top: -250px;
}
#center{
    position: relative;
    top: -187.5px;
    left: -10px;
    padding: 0px;
}
#leftdown{
    position: relative;
    text-align: left;
    left: 50px;
    top: -120px;
}
#lovecat{
    display: flex;
}
#bruh{
    width: 50%;
    height: 600px;
}
#lc1{
    color: rgb(0, 43, 99);
    font-size: 60px;
    font-weight: 900;
    margin: auto 0;
}
#test{
    width: 100%;
    background-color: red;
    height: 200px;
}
#test1{
    width: 50%;
    background-color: blue;
    height: 200px;
    float: left;
}
#test2{
    width: 50%;
    background-color: red;
    height: 200px;
    float: right;
}