body{
    background-color: rgb(32, 32, 32);
    background-image: url('../img/background.jpg');
    margin: 0px;
    font-family: sans-serif;
}
header{
    background-color: rgb(214, 200, 200);
    height: 100px;
}
.container{
    width: 90%;
}
.searchlabel{
    background-color: rgb(34, 30, 30);
    margin-top: 10px;
    float: right;
    padding: 6px;
    border-radius: 8px;
}
.logotype{
    float: left;
    width: 220px;
    height: 100px;
}
header ul{
    margin: 0px;
    padding-top: 30px;
}
header ul ol{
    text-align: center;
    margin-left: 20px;
    display: inline;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(125, 37, 133);
    color: white;
    font-size: 30px;
}
.hea{
    padding-left: 300px;
}
.container{
    padding: 20px;
    margin: 0px auto;
}
.div1{
    width: 100%;
    background-color: rgb(134, 134, 134);
    border: 1px solid rgb(16, 63, 216);
    border-radius: 20px;
    padding: 10px;
}
.div2{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(134, 134, 134);
    padding: 10px;
}
.otzivi{
    width: 630px;
}
.otziv{
    display: inline-block;
    background-color: rgb(10, 169, 190);
    margin: 5px;
    width: 300px;
    height: 100px;
}
.div3{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(134, 134, 134);
    padding: 10px;
}
.button1{
    background-color: rgb(13, 247, 255);
    border: 2px solid red;
    border-radius: 10px;
    float: left;
    padding: 4px;
    margin: 20px 0px 20px 0px;
}
footer{
    background-color: rgb(214, 200, 200);
    padding: 20px;
    clear: both;
}
footer ul{
    text-align: center;
}
footer ul li{
    font-size: 20px;
    display: inline;
    background-color: rgb(21, 255, 0);
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px;
    margin: 0px 5px 0px 5px;
}
footer h2{
    text-align: right;
    padding: 0px;
    margin: 0px;
}
.line{
    background: red;
    width: 100%;
    height: 4px;
    float: left;
}